version: "3.5"

services:
  mysql:
    image: mysql:5.7
    hostname: mysql
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: "yes"
      MYSQL_DATABASE: slurm_acct_db
      MYSQL_USER: slurm
      MYSQL_PASSWORD: password
    volumes:
      - var_lib_mysql:/var/lib/mysql

  slurmdbd:
    build: .
    image: aztk/staging:slurm
    command: ["slurmdbd"]
    hostname: slurmdbd
    stdin_open: true
    tty: true
    volumes:
      - etc_munge:/etc/munge
      - etc_slurm:/etc/slurm
      - var_log_slurm:/var/log/slurm
    expose:
      - "6819"
    depends_on:
      - mysql

  slurmctld:
    build: .
    image: aztk/staging:slurm
    command: ["slurmctld"]
    hostname: slurmctld
    stdin_open: true
    tty: true
    volumes:
      - etc_munge:/etc/munge
      - etc_slurm:/etc/slurm
      - slurm_jobdir:/data
      - var_log_slurm:/var/log/slurm
    expose:
      - "6817"
    depends_on:
      - "slurmdbd"

  slurmd:
    build: .
    image: aztk/staging:slurm
    command: ["slurmd"]
    hostname: c1
    stdin_open: true
    tty: true
    volumes:
      - etc_munge:/etc/munge
      - etc_slurm:/etc/slurm
      - slurm_jobdir:/data
      - var_log_slurm:/var/log/slurm
    expose:
      - "6818"
    depends_on:
      - "slurmctld"
  
  hdfs-datanode:
    build: ./hdfs/
    image: aztk/staging:slurm
    command: ["supervisorctl start hdfs-datnode"]
    hostname: hdfs-datanode
    stdin_open: true
    tty: true
    environment:
      - MASTER_IP
    expose:
      - "50075"
      - "50475"
      - "50010"
      - "50020"
    depends_on:
      - "hdfs-namenode"

  hdfs-namenode:
    build: ./hdfs/
    image: aztk/staging:slurm
    command: ["supervisorctl start hdfs-namenode"]
    hostname: hdfs-namenode
    stdin_open: true
    tty: true
    environment:
      - MASTER_IP
    expose:
      - "50070"
      - "50470"
      - "8020"
      - "9000"

volumes:
  etc_munge:
  etc_slurm:
  slurm_jobdir:
  var_lib_mysql:
  var_log_slurm:
  mnt_hdfs:
