version: "2.2"

services:
  mysql:
    image: mysql:5.7
    hostname: mysql
    container_name: mysql
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: "yes"
      MYSQL_DATABASE: slurm_acct_db
      MYSQL_USER: slurm
      MYSQL_PASSWORD: password
    volumes:
      - var_lib_mysql:/var/lib/mysql

  slurmdbd:
    build: .
    #image: slurm-docker-cluster:17.02.10
    command: ["slurmdbd"]
    container_name: slurmdbd
    hostname: slurmdbd
    stdin_open: true
    tty: true
    volumes:
      - etc_munge:/etc/munge
      - etc_slurm:/etc/slurm
      - var_log_slurm:/var/log/slurm
    expose:
      - "6819"
    depends_on:
      - mysql

  slurmctld:
    build: .
    #image: slurm-docker-cluster:17.02.10
    command: ["slurmctld"]
    container_name: slurmctld
    hostname: slurmctld
    stdin_open: true
    tty: true
    volumes:
      - etc_munge:/etc/munge
      - etc_slurm:/etc/slurm
      - slurm_jobdir:/data
      - var_log_slurm:/var/log/slurm
    expose:
      - "6817"
    depends_on:
      - "slurmdbd"

  c1:
    build: .
    #image: slurm-docker-cluster:17.02.10
    command: ["slurmd"]
    hostname: c1
    container_name: c1
    stdin_open: true
    tty: true
    volumes:
      - etc_munge:/etc/munge
      - etc_slurm:/etc/slurm
      - slurm_jobdir:/data
      - var_log_slurm:/var/log/slurm
    expose:
      - "6818"
    depends_on:
      - "slurmctld"
  
  hdfs-datanode:
    build: ./hdfs/
    command: ["hdfs --config /etc/hadoop datanode"]
    hostname: hdfs-datanode
    container_name: hdfs-datanode
    stdin_open: true
    tty: true
    environment:
      - MASTER_IP
    expose:
      - "50075"
      - "50475"
      - "50010"
      - "50020"
    depends_on:
      - "hdfs-namenode"

  hdfs-namenode:
    build: ./hdfs/
    command: "hdfs namenode -format ; hdfs --config /etc/hadoop namenode"
    hostname: hdfs-namenode
    container_name: hdfs-namenode
    stdin_open: true
    tty: true
    environment:
      - MASTER_IP
    expose:
      - "50070"
      - "50470"
      - "8020"
      - "9000"

volumes:
  etc_munge:
  etc_slurm:
  slurm_jobdir:
  var_lib_mysql:
  var_log_slurm:
  mnt_hdfs:
